body{
    margin-left: 7rem;
    background-color: black;
    max-width: 70rem;
    font-family: sans-serif;
  
}
.Logo{

height: 3rem;
width: 3rem;
object-fit: cover;
}
.DesktopHeader{
    margin-top: 2rem; 
    height: 5rem;
   width: 80vw;
   max-width: 75;
    
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.DesktopHeaderMenuList{
    margin: 2rem;
    font-size: 1.7rem;
    color: white;
    text-decoration: none;
}
.DesktopHeaderMenuList:hover{
/* border-bottom: 0.2rem solid yellow; */
color: yellow;
text-decoration: underline;
}
#intro{
    color: white;
    font-size: 1.5rem;
}
.introGreeting{
    font-size: 4rem;
}
.introname{
    color: yellow;
}
#resumeBtn{
    size: 5rem;
    max-width: 8rem;
    font-size: 1rem ;
    height: 2rem;
    background-color: yellow;
    border-radius: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;

}

